[worldserver]

###################################################################################################
#   STARTER NPC
###################################################################################################

# -------------------------------------------------------------------------------------
#  Announce the module when the player logs in?
#  Enable : 1
#  Disable: 0
# -------------------------------------------------------------------------------------
Starter.Announce = 0

# -------------------------------------------------------------------------------------
#  How often does the NPC emote in milliseconds?
#  Randomly caclulated within range 60000 (1 min, minumum) to 3000000 (5 minutes, max)
#  Default: 60000 (1 minutes, minimum)
#  Disable: 0
# -------------------------------------------------------------------------------------
Starter.MessageTimer = 60000

# -------------------------------------------------------------------------------------
#  How many pharases does the NPC have?
#  Default: 3
# -------------------------------------------------------------------------------------
Starter.NumPhrases = 3

# -------------------------------------------------------------------------------------
#  NPC Phrases - Add your own!
#  Spoken randomly to the world
# -------------------------------------------------------------------------------------
St.P1 = "I'm known for my gears"
St.P2 = "There there..."
St.P3 = "Gearhead to the rescue!"
